{% extends 'base.html' %}

{% block content %}
  <div>
    <div style='text-align: center ; max-width: 700px ; margin: 4rem auto'>
      <h1>
        {{ target_article.title }}
      </h1>
      <h5>
        {{ target_article.writer.profile.nickname }}
      </h5>
      <hr>

      <img style="width: 100%; border-radius: 1rem; margin: 2rem 0;" 
        src="{{ target_article.image.url }}" alt="">
      <p>
        <div class="text-left">
          <!-- safe를 걸어줘야 medium-editor에 있는 내용들을 제대로 보여줄 수 있다 -->
        {{ target_article.content  | safe }}
        </div>     
      </p>
      {% if target_article.writer == user %}
      <a href="{% url 'articleapp:update' pk=target_article.pk %}"
      class="btn btn-primary rounded-pill col-3">
        <p>Update</p>
      </a>
      <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
      class="btn btn-danger rounded-pill col-3">
        <p>Delete</p>
      </a>
      
      {% endif %}
      <hr>

      {% for comment in target_article.comment.all %}
        {% include 'commentapp/detail.html' with comment=comment %}
      {% endfor %}

      {% include 'commentapp/create.html' with article=target_article %}

    </div>
  </div>
{% endblock %}